<div class="container">
  <div class="input">
    <input class="form-control" type="text" #userInput placeholder="Enter city name">
    <div>
      <button (click)="getCity(userInput.value)">Search</button>
    </div>
  </div>
  <h1>Weather in {{weather.name}},{{weather.sys.country}}</h1>
  <div class="tempo">
    <span>
      Temperature {{(weather.main.temp-32)*5/9 | number:'1.0-1'}}&#176;C
    </span>
    <span>
      (Feels like {{(weather.main.feels_like-32)*5/9| number:'1.0-1'}}&#176;C)
    </span>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <td>Humidity</td><td>{{weather.main.humidity}}%</td>
      </tr>
      <tr>
        <td>Pressure</td><td>{{weather.main.pressure}} hpa</td>
      </tr>
      <tr>
        <td>Geo Cords</td><td>{{weather.coord.lat}},{{weather.coord.lon}}</td>
      </tr>
      <tr>
        <td>Sunrise</td><td>{{weather.sys.sunrise*1000|date:'H:mm'}}</td>
      </tr>
      <tr>
        <td>Sunset</td><td>{{weather.sys.sunset*1000|date:'H:mm'}}</td>
      </tr>
    </tbody>
  </table>
</div>

